<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% extends "base.html" %}

{% block body %}
<div class="alert alert-info" role="alert">
  <h1>Bookmarks</h1>
</div>
<div class="alert alert-success" role="alert">
  <p><strong>URL:</strong> {{ bookmarks.url }}</p>
  <p><strong>Name:</strong> {{ bookmarks.name }}</p>
  <p><strong>Description:</strong> {{ bookmarks.description }}</p>
  <p><strong>Tags:</strong> {{ bookmarks.tag }}</p>
</div>
{% endblock %}

</html>